@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  background-color: hsl(0, 8%, 95%);
}

ul {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.head__container {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 20px;
}

/* Nav section */
nav {
  position: relative;
  min-height: 10vh;
}

.head__title {
  position: absolute;
}

.head__items {
  position: absolute;
  display: none;
  width: 50%;
  margin: 20px;
  top: -20px;
  left: 10%;
  outline: none;
  transition: all 0.3s linear;
}

.head__list {
  font-size: 14px;
  display: inline-block;
}

.head__buttons {
  position: absolute;
  display: none;
  right: 100px;
}
.head__buttons button {
  width: 80px;
  height: 30px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  background: transparent;
  background: hsl(180, 66%, 49%);
}

/* Side bar */
.head__sidebar-toggle {
  position: fixed;
  display: block;
  font-size: 1.5rem;
  color: grey;
  border: none;
  right: 10px;
  z-index: 10;
  pointer-events: all;
  cursor: pointer;
}

.aside {
  position: fixed;
  left: 10px;
  top: 70px;
  width: 95%;
  min-height: 70vh;
  color: #fff;
  z-index: 5;
  border-radius: 20px;
  background: hsl(257, 27%, 26%);
  transform: translateX(-110%);
  transition: all 0.3s linear;
}
.close-btn {
  position: absolute;
  right: 10px;
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: hsl(205, 78%, 60%);
  transition: all 0.3s linear;
  cursor: pointer;
  color: hsl(360, 67%, 44%);
}
.close-btn:hover {
  color: hsl(360, 71%, 66%);
  transform: rotate(360deg);
}

.show-sidebar {
  transform: translate(0);
}

.menu__items {
  position: absolute;
  text-align: center;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.menu__list {
  width: 80%;
  margin-bottom: 20px;
  cursor: pointer;
}
hr {
  position: absolute;
  top: 50%;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.form__buttons {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
}
.form__buttons button {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  background: transparent;
}
.form__buttons button.active {
  background: hsl(180, 66%, 49%);
}

/* Hero section */
.hero__brand {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.brand__text {
  position: absolute;
  top: 200px;
  width: 100%;
  margin-top: 20px;
}
.brand__title {
  font-size: 2.2rem;
  width: 100%;
  text-align: center;
}
.brand__paragraph {
  text-align: center;
  width: 100%;
  font-size: 0.6rem;
}
.brand__button {
  margin: 10px;
}
.brand__button button {
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 20px;
  background: hsl(180, 66%, 49%);
}

.brand__image {
  position: absolute;
  top: 0;
  width: 100%;
}
.brand__image img {
  height: 100%;
  width: 100%;
}

/* Hanging Form */
.url_form {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 20vh;
  padding: 20px;
  background: url("../assets/bg-shorten-desktop.svg") center/cover no-repeat;
  background-color: hsl(257, 27%, 26%);
}
.shorten-form {
  width: 100%;
  height: 90%;
}
.shorten-form input {
  height: 50%;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 5px;
  background: #fff;
  outline: none;
  border: none;
}
.shorten-form input.error {
  border: 1px solid hsl(0, 87%, 67%);
}
.shorten-form button {
  height: 40%;
  width: 100%;
  font-size: 1.2rem;
  color: #fff;
  margin: 20px 0;
  outline: none;
  border: none;
  pointer-events: all;
  cursor: pointer;
  border-radius: 5px;
  background: hsl(180, 66%, 49%);
}

/* Main Section */
.main {
  position: relative;
  min-height: 70vh;
  text-align: center;
  padding-top: 100px;
  pointer-events: none;
}
.main__title {
  font-size: 1.2rem;
}
.main__paragraph {
  width: 90%;
  margin: 0 auto;
  font-size: 0.6rem;
}
.main__cards {
  position: absolute;
  flex-wrap: wrap;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  margin-top: 50px;
}

.card__items {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 30vh;
  margin: 50px 0;
  padding: 10px 20px;
  background: #fff;
}
.card__items:nth-child(2) {
  margin-top: 10px;
}
.card__logo {
  position: absolute;
  height: 50px;
  width: 50px;
  top: -25px;
  border-radius: 50%;
  padding: 10px 5px;
  background: hsl(257, 27%, 26%);
}
.card__logo img {
  width: 60%;
  height: 60%;
}
.card__text {
  position: absolute;
  top: 30%;
  text-align: center;
}
.card__text p {
  font-size: 0.6rem;
}

.footer {
  position: relative;
  top: 550px;
}
.footer__top {
  background: url("../assets/bg-boost-desktop.svg") center/cover no-repeat;
  background-color: hsl(257, 27%, 26%);
  min-height: 20vh;
  color: #fff;
  text-align: center;
}
.footer__title {
  font-size: 1.5rem;
}
.footer__top button {
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 10px;
  border-radius: 20px;
  background: hsl(180, 66%, 49%);
}
.footer__bottom {
  padding: 20px;
  color: #fff;
  background: hsl(260, 8%, 14%);
  min-height: 50vh;
  text-align: center;
}
.footer__bottom--title {
  margin-bottom: 30px;
}
.footer__bottom--head {
  margin-bottom: 10px;
}
.footer__bottom--items p {
  font-weight: lighter;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons a {
  margin: 0 0.5rem;
  color: #ffffff;
  transition: all 0.3s linear;
}

.error-message {
  position: absolute;
  top: 60px;
  color: hsl(0, 87%, 67%);
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 420px) {
  .head__container {
    min-height: 80vh;
    padding: 10px 0 0 130px;
  }
  .head__sidebar-toggle {
    display: none;
  }
  .head__items {
    display: block;
  }
  .head__buttons {
    display: block;
  }
  .brand__text {
    width: 50%;
    top: 0;
    text-align: justify;
  }
  .brand__paragraph {
    text-align: left;
    width: 75%;
    font-size: 0.8rem;
  }
  .brand__image {
    position: relative;
    width: 50%;
    right: 20px;
  }
  .brand__text {
    position: relative;
    top: 0;
    width: 70%;
    margin-top: 50px;
  }
  .brand__title {
    text-align: left;
    font-size: 4.5rem;
  }

  .url_form {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 15vh;
    padding: 25px 20px;
    justify-content: center;
    background: hsl(257, 27%, 26%);
  }
  .shorten-form {
    width: 100%;
    height: 40px;
  }
  .shorten-form input {
    width: 80%;
    height: 100%;
    font-size: 1.5rem;
  }
  .shorten-form button {
    width: 15%;
    height: 100%;
    margin: 0 10px;
  }
  .main__paragraph {
    width: 30%;
  }
  .main__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }
  .main__title {
    font-size: 2rem;
  }
  .card__items {
    position: relative;
    width: 25%;
    margin: 10px;
    text-align: left;
  }
  .card__text {
    position: absolute;
    left: 20px;
    top: 35%;
    text-align: left;
  }
  .card__logo {
    position: absolute;
    height: 60px;
    width: 60px;
    top: -30px;
    left: 20px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 50%;
  }

  .footer {
    min-height: 50vh;
    top: 50px;
  }
  .footer__top {
    min-height: 20vh;
  }
  .footer__bottom {
    position: relative;
    min-height: 30vh;
    text-align: left;
  }
  .footer__bottom--left {
    position: absolute;
    left: 100px;
    width: 40%;
  }
  .footer__bottom--right {
    position: absolute;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    right: 50px;
    width: 60%;
    margin: 0 20px;
  }
  .footer__bottom--items p {
    font-weight: lighter;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
  }
}
